@model LoginViewModel
<body class="text-center">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <main style="display: inline-block; float: none" class="form-signin">
        <form asp-action="Login" asp-controller="Auth" method="post" class="mt-xl-5 w-auto">
            <h1 class="h3 mb-3 mt-5 fw-normal">Please  login</h1>
            <input asp-for="ReturnUrl" hidden />
            <div class="form-floating pt-2">
                <label>Username</label>
                <input class="form-control" asp-for="@Model.Username" placeholder="Username">
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-floating mb-3 pt-2">
                <label>Password</label>
                <input type="password" asp-for="@Model.Password" class="form-control" id="floatingPassword" placeholder="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="w-100 btn mb-3 btn-lg btn-outline-primary">Log in</button>
            <a asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" asp-controller="Auth" class="btn btn-s btn-info">Create account</a>
            <p class="mt-5 mb-3 text-muted">© 2023</p>
        </form>
    </main>
</body>